@import './../../styles/variables.css';

.watchlistContainer {
    background-color: var(--white-color);
    width: 350px;
    height: 100%;
    margin: 10px 0 0 0;
}
.watchlistContainerHeader {
    font-size: var(--font-medium);
    font-weight: var(--font-weight-medium);
    margin: 15px 10px 10px;
    padding: 0;
}
.cardContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.watchlistCard {
    cursor: pointer;
    width: 300px;
    height: 260px;
    background-color: var(--white-color);
    border-radius: var(--card-border-radius);
    border: 1px solid var(--border-color);
    margin: 5px 15px;
    padding: 20px 15px;
}
.watchlistCard:first-child {
    margin-top: 10px;
}
.watchlistCard:hover {
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, .1);;
}
.cardHeader, .admitted {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.collegeName, .satHeading, .actHeading, .achievementsHeading {
    font-size: var(--font-small);
    font-weight: var(--font-weight-semibold);
    margin: 0;
    padding: 0;
}
.satHeading, .actHeading, .achievementsHeading {
    font-weight: var(--font-weight-medium);
    padding: 0 0 2px 0;
    color: var(--black-color);
}
.city, .satValue, .actValue, .majorsValue, .achievementsValue {
    font-size: var(--font-small-xs);
    font-weight: var(--font-weight-normal);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}
.majors {
    margin: 5px 0 10px 0;
}
.majorsValue, .admitted {
    border-radius: var(--tag-border-radius);
    padding: 5px 10px;
}
.majorsValue {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    margin: 0 10px 0 0;
}
.majorsValue, .achievementsValue {
    font-size: var(--font-size-xs);
}
.achievementsValue {
    border: 1px solid var(--border-color);
    border-radius: var(--card-border-radius);
    padding: 5px 10px;
    margin: 0 8px 5px 0;
}
.majors, .achievements {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.sat, .act, .specialization {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0;
}
.admitted {
    background-color: var(--light-bg);
    padding: 5px 10px;
}
.admittedValue {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
    color: var(--tag-color);
    margin: 0;
}
#tickIcon {
    padding: 0 8px 0 0;
}