:root {
    --primary-color: #1670EF;
    --secondary-color: #597e8d;
    --border-color: #bfc5c7;
    --tertiary-color: #eef4fe;
    --white-color: #ffffff;
    --font-small-xs: 14px;
    --font-small: 16px;
    --font-small-1: 18px;
    --font-medium: 20px;
    --font-medium-1: 22px;
    --font-large: 24px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --button-border-radius: 10px;
    --card-border-radius: 5px;
}