:root {
    --primary-color: #1670EF;
    --hover-color: #458df2;
    --hover-color-1: #b3b3b3;
    --secondary-color: #597e8d;
    --border-color: #e4ebec;
    --tertiary-color: #eef4fe;
    --light-bg: #f4f3ff;
    --white-color: #ffffff;
    --text-color: #333333;
    --tag-color: #806ae4;
    --error-color: #ff7a7a;
    --font-size-xs: 12px;
    --font-small-xs: 14px;
    --font-small: 16px;
    --font-small-1: 18px;
    --font-medium: 20px;
    --font-medium-1: 22px;
    --font-large: 24px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --button-border-radius: 6px;
    --card-border-radius: 5px;
    --tag-border-radius: 30px;
}