@import './../../styles/variables.css';

.collegeCardContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: var(--card-border-radius);
    margin: 0 0 0 30px;
    padding: 15px 10px;
    width: 800px;
}
.heading {
    font-size: var(--font-medium);
    font-weight: var(--font-weight-medium);
    margin: 0 0 0 5px;
    padding: 0;
    color: var(--text-color);
}
.desc {
    font-size: var(--font-small-xs);
    font-weight: var(--font-weight-normal);
    color: var(--secondary-color);
    margin: 5px 10px 10px;
    padding: 0;
}
.collegeCardHeader, .containerHeader {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.addCollegeButton {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--secondary-color);
    font-size: var(--font-small-xs);
    padding: 5px 12px;
    margin: 0 20px 0 0;
    background-color: var(--white-color);
    color: var(--text-color);
}
.addCollegeButton:hover {
    background-color: var(--hover-color-1);
}
.collegeCards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
.headerDetails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.headerOptions, .admission, .distance, .fees {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.admission, .distance, .fees {
    margin: 0;
    padding: 0 0 5px 0;
}
#headerTickIcon, #addClgIcon, #headerAddIcon {
    padding: 0 8px 0 0;
}
.collegeCard {
    cursor: pointer;
    width: 220px;
    height: 250px;
    background-color: var(--white-color);
    border-radius: var(--card-border-radius);
    border: 1px solid var(--border-color);
    margin: 0 5px 5px 5px;
    padding: 20px 15px;
}
.collegeCard:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);;
}
#hideIcons {
    opacity: 0;
}
.collegeCard:hover  #hideIcons {
    opacity: 1;
}
.colName, .colSatHeading, .colActHeading {
    font-size: var(--font-small-xs);
    font-weight: var(--font-weight-semibold);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}
.colSat, .colAct {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.colSatDetails, .colActDetails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}
.colAct {
    padding: 0 0 10px 0;
}
.collegeCardHeader, .colAct {
    border-bottom: 2px solid var(--border-color);
}
.colSatHeading, .colActHeading, .admissionHeading, .distanceHeading, .feesHeading {
    font-weight: var(--font-weight-medium);
    padding: 0 0 2px 0;
    color: var(--text-color);
}
.additionalDetails {
    padding: 10px 0 0 0;
}
.admissionHeading, .distanceHeading, .feesHeading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-xs);
    margin: 0;
}
#admissionIcon, #distanceIcon, #feesIcon {
    padding: 0 5px 0 0;
}
.colCity, .colSatValue, .colActValue, .admissionValue, .distanceValue, .feesValue {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}
.colCity {
    margin: 0 0 10px 0;
}

@media (max-width:1040px) {
    
    .collegeCardContainer {
        width: 550px;
    }

}

@media (max-width:980px) {
    
    .collegeCardContainer {
        width: 540px;
        margin: 0 0 0 15px;
    }

}

@media (max-width:780px) {
    .collegeCardContainer {
        width: 350px;
        margin: 0 0 0 15px;
    }
    .heading {
        font-size: var(--font-small);
    }
    .desc {
        max-width: 200px;
        font-size: var(--font-size-xs);
    }
    .addCollegeButton {
        justify-content: flex-start;
        font-size: var(--font-size-xs);
        padding: 4px;
        margin: 0;
    }
    #addClgIcon, #headerAddIcon {
        padding: 0 2px 0 0;
    }
}

@media screen and (max-width:500px) {
    .collegeCardContainer {
        width: 300px;
        margin: 10px auto;
    }
    .collegeCards {
        justify-content: center;
    }
    .heading {
        font-size: var(--font-small-xs);
    }
    .desc {
        max-width: 200px;
        font-size: var(--font-size-xs);
    }
    .addCollegeButton {
        font-size: var(--font-size-xs);
        padding: 4px;
        margin: 0;
    }
}
