@import './../../styles//variables.css';

.range{
    text-align: center;
}
.multi-range-slider {
    display: flex;
    position: relative;
    border: none !important;
    border-radius: 10px;
    padding: 10px 0 0 0;
    box-shadow: none !important;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.multi-range-slider .bar {
    width: 100px;
}
.multi-range-slider .ruler {
    opacity: 0;
}
.multi-range-slider .labels {
    opacity: 0;
}
.multi-range-slider .thumb::before {
    box-shadow: none;
    border: 1px solid var(--text-color);
}
.multi-range-slider .thumb::after {
    box-shadow: none;
}